/* // font-family: 'Gudea', sans-serif;
// font-family: 'Maven Pro', sans-serif; */

.panel-2-text {
    font-family: "Maven Pro", sans-serif;
}

.nav-item {
    font-family: "Gudea", sans-serif;
    font-size: 1.5rem;
    padding-left: 11%;
}

/* .carousel {
    height: 50%;
    margin: auto;
} */

.card-list {
    font-family: "Maven Pro", sans-serif;
}

#cta {
    margin: auto;
}

.cta-text {
    font-family: "Gudea", sans-serif;
    padding-top: 20px;
    padding-bottom: 30px;
}

.app-buttons {
    padding-bottom: 20px;
}

.btn-social-icon:hover {
    color: red;
}

.btn-social-icon {
    color: white;
}

.section-heading {
    font-family: "Gudea", sans-serif;
    font-size: 3.0rem;
    font-weight: bold;
}

.section-subhead {
    font-family: "Gudea", sans-serif;
    font-size: 1.3rem;
    padding-bottom: 1%;
}

.card-header {
    font-family: "Gudea", sans-serif;
}

.price-head.card-header {
    font-size: 1.3rem;
}

.price-text {
    font-family: "Maven Pro", sans-serif;
    font-size: 1.1rem;
}

.card-body p {
    font-family: "Maven Pro", sans-serif;
}

.card-footer {
    font-family: "Maven Pro", sans-serif;
}

.pricing-column {
    padding: 3%, 0;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.site-footer {
    background-color: black;
    padding: 20px 0;
    font-family: "Maven Pro", sans-serif;
}

.footer-about{
    margin-top: 345px;
}

