.jumbotron {
    background-image: linear-gradient(to right, #CBF1F5, #A6E3E9, #71C9CE);
    color: black;
    padding: 30px;
    margin: 0;
}

.navbar {
    background-color: #71C9CE;
}

.carousel {
    height: ;
    width: 50%;
    margin: auto;
}

#cta{
    margin: auto;
}

.btn-social-icon:hover{
    color: red;
}