/* // font-family: 'Gudea', sans-serif;
// font-family: 'Maven Pro', sans-serif; */

.jumbotron {
    background-image: linear-gradient(to right, #CBF1F5, #A6E3E9, #71C9CE);
    color: black;
    padding: 30px;
    margin: 0;
}

.jumbo-header {
    font-family: "Gudea", sans-serif;
}

.jumbo-img {
    width: 30%;
}

.navbar {
    background-color: #71C9CE;
}

.panel-2-text {
    font-family: "Maven Pro", sans-serif;
}

.carousel {
    width: 68%;
    margin: auto;
}

.card-list {
    font-family: "Maven Pro", sans-serif;
}

#cta {
    margin: auto;
}

.cta-text {
    font-family: "Gudea", sans-serif;
    padding-top: 20px;
    padding-bottom: 30px;
}

.app-buttons {
    padding-bottom: 20px;
}

.btn-social-icon:hover {
    color: red;
}

.section-heading{
    font-family: "Gudea", sans-serif;
    font-size: 3.0rem;
    font-weight: bold;
}

.section-subhead{
    font-family: "Gudea", sans-serif;
    font-size: 1.3rem;
}

.card-header {
    font-family: "Gudea", sans-serif;
}

.price-head.card-header {
    font-size: 1.3rem;
}

.price-text {
    font-family: "Maven Pro", sans-serif;
    font-size: 1.1rem;
}

.card-body p {
    font-family: "Maven Pro", sans-serif;
}

.card-footer {
    font-family: "Maven Pro", sans-serif;
}

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.site-footer {
    background-image: linear-gradient(#71C9CE, white);
    padding: 20px 0;
}

.footer-text{
    font-family: "Maven Pro", sans-serif;
}

.footer-foot{
    margin-left: 105px;
}